<div class="container">
    <div class="starter-template">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px;">
                <form>
                    <div class="input-group">
                        <input placeholder="Type Message and Press Enter" class="input-sm form-control" ng-model="chatText" type="text" />
                        <span class="input-group-btn">
                            <input class="input-sm btn btn-default" type="submit" value="Send" ng-click="sendMessage(chatText);"/>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <textarea ng-model="chat" style="height: 200px; background-color: white; color: black;" class="form-control" readonly></textarea>
            </div>
        </div>

        <hr/>

        <h2 class="dashboard">
            Overdue Tasks
            <button class="btn btn-primary pull-right" ng-click="viewTasks()">Continue to tasks</button>
        </h2>

        <table class="table table-striped" ng-show="overDueLoaded">
            <thead>
                <tr>
                    <th class="priority">Priority</th>
                    <th class="taskname">Task Name</th>
                    <th class="duedate">Due Date</th>
                </tr>
            </thead>
            <tbody ng-show="overDue.length">
                <tr ng-repeat="task in overDue">
                    <td class="priority">{{task.priority}}</td>
                    <td class="taskname">{{task.name}}</td>
                    <td class="duedate">{{task.due_date | date: 'longDate'}}</td>
                </tr>
            </tbody>
            <tbody ng-hide="overDue.length">
                <tr><td colspan="3">There are currently no overdue tasks</td></tr>
            </tbody>
        </table>

        <div class="row" ng-hide="overDueLoaded">
            <div style="padding-bottom: 60px;"></div>

            <div class="progress progress-striped active">
                <div class="progress-bar" style="width: 100%;"></div>
            </div>
        </div>

        <h2 class="dashboard">Tasks Due Today</h2>

        <table class="table table-striped" ng-show="dueTodayLoaded">
            <thead>
            <tr>
                <th class="priority">Priority</th>
                <th class="taskname">Task Name</th>
                <th class="duedate">Due Date</th>
            </tr>
            </thead>
            <tbody ng-show="dueToday.length">
            <tr ng-repeat="task in dueToday">
                <td class="priority">{{task.priority}}</td>
                <td class="taskname">{{task.name}}</td>
                <td class="duedate">{{task.due_date | date: 'longDate'}}</td>
            </tr>
            </tbody>
            <tbody ng-hide="dueToday.length">
            <tr><td colspan="3">There are currently no tasks due today</td></tr>
            </tbody>
        </table>

        <div class="row" ng-hide="dueTodayLoaded">
            <div style="padding-bottom: 60px;"></div>

            <div class="progress progress-striped active">
                <div class="progress-bar" style="width: 100%;"></div>
            </div>
        </div>

        <h2 class="dashboard">Tasks Due Tomorrow</h2>

        <table class="table table-striped" ng-show="dueTomorrowLoaded">
            <thead>
            <tr>
                <th class="priority">Priority</th>
                <th class="taskname">Task Name</th>
                <th class="duedate">Due Date</th>
            </tr>
            </thead>
            <tbody ng-show="dueTomorrow.length">
            <tr ng-repeat="task in dueTomorrow">
                <td class="priority">{{task.priority}}</td>
                <td class="taskname">{{task.name}}</td>
                <td class="duedate">{{task.due_date | date: 'longDate'}}</td>
            </tr>
            </tbody>
            <tbody ng-hide="dueTomorrow.length">
            <tr><td colspan="3">There are currently no tasks due tomorrow</td></tr>
            </tbody>
        </table>

        <div class="row" ng-hide="dueTomorrowLoaded">
            <div style="padding-bottom: 60px;"></div>

            <div class="progress progress-striped active">
                <div class="progress-bar" style="width: 100%;"></div>
            </div>
        </div>

        <hr/>

        <footer>
            <div class="container">
                <p class="text-muted credit">
                    Copyright &copy; Daniel Stephenson 2015 &middot;
                </p>
            </div>
        </footer>
    </div>
</div>
