<div class="container">
    <div class="starter-template">
        <h2 class="sub-header">Edit Task</h2>

        <form class="form-inline">
            <div class="row">
                <div class="col-md-6 text-right">
                    <input id="task-name" type="text" class="form-control" ng-model="task.name"
                           placeholder="Task Name"/><br/>
                    <input id="task-description" type="text" class="form-control" ng-model="task.description"
                           placeholder="Task Description"/></br>
                    <input id="task-due-date" type="text" class="form-control" ng-model="task.due_date"
                           placeholder="YYYY-MM-DD HH:MM"/><br/>
                    <input id="task-priority" type="text" class="form-control" ng-model="task.priority"
                           placeholder="Priority"/>
                </div>
                <div class="col-md-6 text-left">
                    <select class="form-control" multiple ng-model="task.categories"
                            ng-options="category.id as category.name for category in categories"></select><br/><br/>
                    <select class="form-control" multiple ng-model="task.tags"
                            ng-options="tag.id as tag.name for tag in tags"></select><br/><br/>
                </div>
            </div>
            <div class="btn btn-primary" ng-click="save(task);">Update Task</div>
            <div class="btn btn-default" ng-click="cancel();">Cancel</div>
        </form>
    </div>
</div>
