<div class="container">
    <div class="starter-template">
        <h2 class="sub-header">Current Tasks</h2>

        <form class="form-inline" ng-show="categoriesLoaded && tagsLoaded">
            <div class="row">
                <div class="col-md-6 text-right">
                    <input id="task-name" type="text" class="form-control" ng-model="task.name"
                           placeholder="Task Name"/><br/>
                    <input id="task-description" type="text" class="form-control" ng-model="task.description"
                           placeholder="Task Description"/></br>
                    <input id="task-due-date" type="text" class="form-control" ng-model="task.due_date"
                           placeholder="YYYY-MM-DD HH:MM"/><br/>
                    <input id="task-priority" type="text" class="form-control" ng-model="task.priority"
                           placeholder="Priority"/>
                </div>
                <div class="col-md-6 text-left">
                    <select class="form-control" multiple ng-model="task.category"
                            ng-options="category.id as category.name for category in categories"></select><br/><br/>
                    <select class="form-control" multiple ng-model="task.tags"
                            ng-options="tag.id as tag.name for tag in tags"></select><br/><br/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button id="add-btn" class="btn btn-success" ng-click="addTask(task);">Add Task</button>
                </div>
            </div>
        </form>

        <div class="row" ng-hide="categoriesLoaded && tagsLoaded">
            <div style="padding-bottom: 60px;"></div>

            <div class="progress progress-striped active">
                <div class="progress-bar" style="width: 100%;"></div>
            </div>
        </div>

        <div style="padding-bottom: 40px;"></div>

        <div class="row">
            <div class="text-right col-md-3 pull-right">
                <div class="input-group">
                    <input type="text" class="form-control" data-ng-model="search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="table-responsive" ng-show="tasksLoaded">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th style="width: 10%">Due Date</th>
                    <th style="width: 20%">Name</th>
                    <th style="width: 40%">Description</th>
                    <th style="width: 30%">&nbsp;</th>
                </tr>
                </thead>
                <tbody ng-show="tasks.length">
                <tr ng-repeat="task in tasks | taskSearchFilter:search">
                    <td><span ng-bind="task.due_date | date: 'longDate'"></span></td>
                    <td><span ng-bind="task.name"></span></td>
                    <td><span ng-bind="task.description"></span></td>
                    <td style="text-align: right;">
                        <div ng-show="deleteButton">Delete Task?
                            <button class="btn btn-danger" ng-click="removeTask(task)">Yes</button>
                            <button class="btn btn-info" ng-click="cancelDelete()">No</button>
                        </div>
                        <button class="btn btn-danger" ng-hide="deleteButton" ng-click="confirm()">Delete</button>
                        <button class="btn btn-primary" ng-hide="deleteButton" ng-click="editTask(task)">Edit</button>
                    </td>
                </tr>
                </tbody>
                <tbody ng-hide="tasks.length">
                <tr>
                    <td colspan="4">There are currently no tasks</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row" ng-hide="tasksLoaded">
            <div style="padding-bottom: 60px;"></div>

            <div class="progress progress-striped active">
                <div class="progress-bar" style="width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
